<div>
  <a href="<%= root_path %>" class="nav_logo">
    <i class='fa-brands fa-google nav_logo-icon'></i>
    <span class="nav_logo-name">SocialButtons</span> </a>
  <div class="nav_list">
    <a href="" class="nav_link active">
      <i class='fa-solid fa-chart-line nav_icon'></i>
      <span class="nav_name">Dashboard</span>
    </a>
  </div>
</div>
